# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# allow users to edit the examples
examples/cluster*
examples/node*

# kubeconfigs
*.conf

# disk images
*.img

# swap files
*.sw*

# manifests directory
manifests

# binaries
run

# packages
vendor/

# macos
.DS_Store

# bak files
*.bak
